#root {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: goldenrod;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dots-wrapper {
  position: relative;
}

.dots-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-image: url(../../public/dots-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  border-radius: 3px;
  transition: all 0.15s;

  &:hover,
  &--active {
    background-color: lightgray;
  }
}

.menu-drop {
  position: absolute;
  font-size: 14px;
  background-color: #f8f8f8;
  right: 105%;
  top: 0;
  transition: all 0.2s;
  animation: fadeInRight 0.2s;
  border-radius: 3px;
  overflow: hidden;

  &--hidden {
    @extend .menu-drop;
    transform: scale(0) translateX(30px);
  }

  & > button {
    padding: 2px 6px;
    width: 100%;

    &:hover {
      background-color: lightgrey;
    }
  }
}

.car-image {
}

// Animation
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: scale(0) translateX(30px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateX(0px);
  }
}
